<%= form_for @provider, builder: CustomFormBuilder do |f| %>
    <%= f.form_error %>
    <div class="row">
        <div class="col-sm">
            <div class="card">
                <div class="card-header">
                    Datos del proveeder
                </div>
                <div class="card-body">
                    <div class="form-group">
                        <%= f.label :business_name, class: 'bmd-label-static' %>
                        <%= f.text_field :business_name, class: "form-control" %>
                        <%= f.field_error :business_name %>
                    </div>
                    <div class="form-group">
                        <%= f.label :tradename, class: 'bmd-label-static' %>
                        <%= f.text_field :tradename, class: "form-control" %>
                        <%= f.field_error :tradename %>
                    </div>
                    <div class="form-group">
                        <%= f.label :rfc, class: 'bmd-label-static' %>
                        <%= f.text_field :rfc, class: "form-control" %>
                        <%= f.field_error :rfc %>
                    </div>
                    <div class="form-group">
                        <%= f.label :address, class: 'bmd-label-static' %>
                        <%= f.text_field :address, class: "form-control" %>
                        <%= f.field_error :address %>
                    </div>
                    <div class="form-group">
                        <%= f.label :street, class: 'bmd-label-static' %>
                        <%= f.text_field :street, class: "form-control" %>
                        <%= f.field_error :street %>
                    </div>
                    <div class="form-group">
                        <%= f.label :suburb, class: 'bmd-label-static' %>
                        <%= f.text_field :suburb, class: "form-control" %>
                        <%= f.field_error :suburb %>
                    </div>
                    <div class="form-group">
                        <%= f.label :responsable, class: 'bmd-label-static' %>
                        <%= f.text_field :responsable, class: "form-control" %>
                        <%= f.field_error :responsable %>
                    </div>
                    <div class="form-group">
                        <%= f.label :responsible_phone, class: 'bmd-label-static' %>
                        <%= f.text_field :responsible_phone, class: "form-control" %>
                        <%= f.field_error :responsible_phone %>
                    </div>
                    <div class="form-group">
                        <%= f.label :email, class: 'bmd-label-static' %>
                        <%= f.text_field :email, class: "form-control" %>
                        <%= f.field_error :email %>
                    </div>
                    <div class="form-group">
                        <%= f.label :notification_mail, class: 'bmd-label-static' %>
                        <%= f.text_field :notification_mail, class: "form-control" %>
                        <%= f.field_error :notification_mail %>
                    </div>
                    <div class="form-group">
                        <%= f.label :general_description, class: 'bmd-label-static' %>
                        <%= f.text_field :general_description, class: "form-control" %>
                        <%= f.field_error :general_description %>
                    </div>
                    
                    
                </div>
            </div>
        </div>
    </div>
    
    <br>
    

    <br>
    <%= f.submit 'Guardar', :class => 'btn btn-raised btn-primary float-right' %>
<% end %>