 <tr>
    <td><%= provider.business_name %></td>
    <td><%= provider.tradename %></td>
    <td><%= provider.rfc %></td>
    <td><%= provider.address %></td>
    <td><%= provider.street %></td>
    <td><%= provider.suburb %></td>
    <td><%= provider.responsable %></td>
    <td><%= provider.responsible_phone %></td>
    <td><%= provider.email %></td>
    <td><%= provider.notification_mail %></td>
    <td><%= provider.general_description %></td>