<h1>Proveedores</h1>
<%= link_to t('Agregar'), new_provider_path, class: "btn btn-primary float-right" %>

 <table class="table">
      <thead>
        <tr>
            <th>Razon social</th>
            <th>Nombre Comercial</th>
            <th>RFC</th>
            <th>Direccion</th>
            <th>Calle</th>
            <th>Colonia</th>
            <th>CP</th>
            <th>Responsable</th>
            <th>Correo Electronico</th>
            <th>Correo Notificaciones</th>
            <th>Descripcion Gral</th>
        </tr>
      </thead>
      <tbody>
        <%= render @providers %>
      </tbody>
  </table>
