<%= form_for @insured, builder: CustomFormBuilder do |f| %>
    <%= f.form_error %>

    <div class="form-group">
        <%= f.label :name %>
        <%= f.text_field :name, class: "form-control" %>
        <%= f.field_error :name %>
    </div>
    <div class="form-group">
        <%= f.label :last_name %>
        <%= f.text_field :last_name, class: "form-control" %>
        <%= f.field_error :last_name %>
    </div>
    <div class="form-group">
        <%= f.label :mother_last_name %>
        <%= f.text_field :mother_last_name, class: "form-control" %>
        <%= f.field_error :mother_last_name %>
    </div>
    <div class="form-group">
        <%= f.label :gender %>
        <%= f.text_field :gender, class: "form-control" %>
        <%= f.field_error :gender %>
    </div>
    <div class="form-group">
        <%= f.label :birth_date %>
        <%= f.date_field :birth_date, class: "form-control" %>
        <%= f.field_error :birth_date %>
    </div>
    <div class="form-group">
        <%= f.label :policy %>
        <%= f.text_field :policy, class: "form-control" %>
        <%= f.field_error :policy %>
    </div>

    <%= f.submit 'Guardar', :class => 'btn btn-raised btn-primary float-right' %>
<% end %>