<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item active" aria-current="page">Asegurado</li>
  </ol>
</nav>
<div class="row">
    <div class="col-9">
        <div class="jumbotron">
            <h2 class="display-4">Asegurado</h2>
            <h3 style="text-decoration: underline">
                <%= @insured.name %> <%= @insured.last_name %> <%= @insured.mother_last_name %>
            </h3>
            <hr class="my-4">
            <p><strong>GÉNERO: </strong> <%= @insured.gender %> </p>
            <p><strong>NACIÓ EL: </strong> <%= @insured.birth_date %> </p>
            <p><strong>POLIZA: </strong> <%= @insured.policy %> </p>
            <p><strong>MODULO: </strong> </p>
            <p><strong>TIPO DE SERVICIO:  </p>
            <p><strong>TIPO DE SOLICITUD:  </p>
            <p><strong>CIUDAD DE RESIDENCIA: </p>
            <p><strong>COASEGURO: </strong>  </p>
            <p><strong>FOLIO GNP: </strong> </p>
        </div>
    </div>
    <div class="col-3">
        <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
            <a class="nav-link active">
                FICHA PERSONAL
            </a>
            <%= link_to 'CONTACTOS', insured_contacts_url(@insured) , class: "nav-link" %>
            
            <%= link_to 'DIRECCIONES',insured_addresses_url(@insured) , class: "nav-link" %>
            
            <%= link_to 'SOLICITUDES',new_insured_order_url(@insured) , class: "nav-link" %>
            
        </div>
    </div>
</div>