<h1>DICTAMEN</h1>


<table class="table table-bordered">
  <thead>
    <tr>
      <th scope="col">Ticket</th>
      <th scope="col">A. PATERNO</th>
      <th scope="col">A. MATERNO</th>
      <th scope="col">NOMBRE</th>
      <th scope="col">FECHA SOLICITUD</th>
      <th scope="col">USUARIO</th>
      <th scope="col">MODULO</th>
      <th scope="col">TIPO DE SERVICIO</th>
      <th scope="col">ACCIONES</th>
    </tr>
  </thead>
  <tbody>
    <%- @orders.each do |order|%>
        <tr>
            <th>CPSA99671</th>
            <td><%= order.insured.last_name %></td>
            <td><%= order.insured.mother_last_name %></td>
            <td><%= order.insured.name %></td>
            <td><%= order.created_at %></td>
            <td>INAJERA</td>
            <td>M3C</td>
            <td>INSUMOS</td>
            <td>
                
            </td>
        </tr>
    <% end %>
   </tbody>
</table>