<%= form_for @insured_record, builder: CustomFormBuilder do |f| %>
    <%= f.form_error %>
    <div class="row">
        <div class="col-sm">
            <div class="card">
                <div class="card-header">
                    Datos del asegurado
                </div>
                <div class="card-body">
                    <div class="form-group">
                        <%= f.label :name, class: 'bmd-label-static' %>
                        <%= f.text_field :name, class: "form-control" %>
                        <%= f.field_error :name %>
                    </div>
                    <div class="form-group">
                        <%= f.label :last_name, class: 'bmd-label-static' %>
                        <%= f.text_field :last_name, class: "form-control" %>
                        <%= f.field_error :last_name %>
                    </div>
                    <div class="form-group">
                        <%= f.label :mother_last_name, class: 'bmd-label-static' %>
                        <%= f.text_field :mother_last_name, class: "form-control" %>
                        <%= f.field_error :mother_last_name %>
                    </div>
                    <div class="form-group">
                        <%= f.label :gender, class: 'bmd-label-static' %>
                        <%= f.text_field :gender, class: "form-control" %>
                        <%= f.field_error :gender %>
                    </div>
                    <div class="form-group">
                        <%= f.label :birth_date, class: 'bmd-label-static' %>
                        <%= f.text_field :birth_date, class: "form-control" %>
                        <%= f.field_error :birth_date %>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm">
            <div class="card">
                    <div class="card-header">
                        Datos de contacto
                    </div>
                    <div class="card-body">
                        <div class="form-group">
                            <%= f.label :street, class: 'bmd-label-static' %>
                            <%= f.text_field :street, class: "form-control" %>
                            <%= f.field_error :street %>
                        </div>
                        <div class="form-group">
                            <%= f.label :interior_number, class: 'bmd-label-static' %>
                            <%= f.text_field :interior_number, class: "form-control" %>
                            <%= f.field_error :interior_number %>
                        </div>
                        <div class="form-group">
                            <%= f.label :outdoor_number, class: 'bmd-label-static' %>
                            <%= f.text_field :outdoor_number, class: "form-control" %>
                            <%= f.field_error :outdoor_number %>
                        </div>
                        <div class="form-group">
                            <%= f.label :postal_code, class: 'bmd-label-static' %>
                            <%= f.text_field :postal_code, class: "form-control" %>
                            <%= f.field_error :postal_code %>
                        </div>
                        <div class="form-group">
                            <%= f.label :suburb, class: 'bmd-label-static' %>
                            <%= f.text_field :suburb, class: "form-control" %>
                            <%= f.field_error :suburb %>
                        </div>
                    </div>
                </div>
        </div>
    </div>
    
    <br>
    

    <br>
    <%= f.submit 'Guardar', :class => 'btn btn-raised btn-primary float-right' %>
<% end %>