
<%= form_for @user, builder: CustomFormBuilder do |f| %>
    <%= f.form_error %>
    <div class="form-group">
        <%= f.label :email %>
        <%= f.text_field :email, class: "form-control" %>
        <%= f.field_error :email %>
    </div>
    <div class="form-group">
        <%= f.label :section_id %><br />
        <%= f.select :section_id, Section.all.collect { |p| [ p.name, p.id ] } , {:include_blank=> "Selecciona"},{:class => "form-control"} %>
        <%= f.field_error :section_id %>
    </div>
    <%- if @user.new_record?%>
        <div class="form-group">
            <%= f.label :password %>
            <% if @minimum_password_length %>
            <em>(<%= @minimum_password_length %> characters minimum)</em>
            <% end %><br />
            <%= f.password_field :password, autocomplete: "new-password", class: "form-control"%>
            <%= f.field_error :password %>
        </div>
    <% end %>
    <div class="jumbotron">
        <h3 class="display-6">Permisos</h3>
        <hr class="my-4">
        <div class="form-check">
            <%= check_box_tag 'permissions[]', 'insureds', @user.has_role?(:insureds), class: "form-check-input" %>
            <%= label_tag 'Asegurados', nil , class:"form-check-label"  %>
        </div>
        <div class="form-check">
            <%= check_box_tag 'permissions[]', 'orders', @user.has_role?(:orders), class: "form-check-input" %>
            <%= label_tag 'Solicitudes', nil , class:"form-check-label"  %>
        </div>
        <div class="form-check">
            <%= check_box_tag 'permissions[]', 'users', @user.has_role?(:users), class: "form-check-input" %>
            <%= label_tag 'Usuarios', nil , class:"form-check-label"  %>
        </div>
        <div class="form-check">
            <%= check_box_tag 'permissions[]', 'providers', @user.has_role?(:providers), class: "form-check-input" %>
            <%= label_tag 'Proveedores', nil , class:"form-check-label"  %>
        </div>
        
    </div>
    <%= f.submit 'Guardar', :class => 'btn btn-raised btn-primary float-right' %>
<% end %>