<tr>
    <th>
    <%= user.email %>
    </th>
    <th>
        <%- user.roles.each do |role| %>
            <%- case role.name %>
            <% when "insureds" %>
                <i class="fas fa-user-injured fa-2x"></i>
            <% when "orders" %>
                <i class="fas fa-file-signature fa-2x"></i>
            <% when "users" %>
                <i class="fas fa-users fa-2x"></i>
            <% else %>
                <i class="fas fa-truck fa-2x"></i>
            <% end  %>
        <% end %>
    </th>
    <th>
        <%= link_to 'Editar', edit_user_url(user) %>
    </th>
</tr>