<h1>Usuarios</h1>
<%= link_to 'Nuevo Usuario', new_user_url, class: "btn btn-primary float-right" %>
<br/><br/>
<table class="table table-bordered">
  <thead>
    <tr>
      <th>email</th>
      <th>Permisos</th>
      <th>Acciones</th>
    </tr>
  </thead>
  <tbody>
    <%= render @users %>
  </tbody>
</table>