<tr>
    <th>CPSA99671</th>
    <td><%= order.insured.last_name %></td>
    <td><%= order.insured.mother_last_name %></td>
    <td><%= order.insured.name %></td>
    <td><%= order.created_at %></td>
    <td>INAJERA</td>
    <td>M3C</td>
    <td>INSUMOS</td>
    <td>
        <%= link_to 'Ir', insured_order_url(order.insured, order) %>
    </td>
</tr>