<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <%= link_to 'Asegurado', "/insureds/#{request.params[:insured_id]}" %>
    </li>
    <li class="breadcrumb-item active" aria-current="page">Seguimiento</li>
  </ol>
</nav>

<h1>SEGUIMIENTO</h1>

<% @section %>
<% if user_signed_in? %>
    <% @section = current_user.section.name %>
<% end %>

<%= react_component("MaterialList", { 
    sections: @sections,
    section: @section,
    authenticity_token: form_authenticity_token, 
    insured: request.params[:insured_id]
}) %>
