<li class="list-group-item">
    <div class="row">
        <div class="col-sm-2">
            <%= image_tag ('user.jpg'), height: '100', width: '100' %>
        </div>
        <div class="col-sm-10">
            <h5><%= contact.name %> - <small><%= contact.relation %></small></h5>
            <p><%= contact.phone %></p> <p><%= contact.email %></p>
        </div>
    </div>
</li>