<%= form_for [@insured, @contact], url: insured_contacts_url, method: :post, builder: CustomFormBuilder do |f| %>
    
    <div class="form-group">
        <%= f.label :name %>
        <%= f.text_field :name, class: "form-control" %>
        <%= f.field_error :name %>
    </div>
    <div class="form-group">
        <%= f.label :relation %>
        <%= f.text_field :relation, class: "form-control" %>
        <%= f.field_error :relation %>
    </div>
    <div class="form-group">
        <%= f.label :phone %>
        <%= f.text_field :phone, class: "form-control" %>
        <%= f.field_error :phone %>
    </div>
    <div class="form-group">
        <%= f.label :cell_phone %>
        <%= f.text_field :cell_phone, class: "form-control" %>
        <%= f.field_error :cell_phone %>
    </div>
    <div class="form-group">
        <%= f.label :email %>
        <%= f.text_field :email, class: "form-control" %>
        <%= f.field_error :email %>
    </div>
    <div class="form-group">
        <%= f.label :notes %>
        <%= f.text_field :notes, class: "form-control" %>
        <%= f.field_error :notes %>
    </div>
    
    <%= f.submit 'Guardar', :class => 'btn btn-raised btn-primary float-right' %>
<% end %>