<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <%= link_to 'Asegurado', "/insureds/#{request.params[:insured_id]}" %>
    </li>
    <li class="breadcrumb-item active" aria-current="page">Contacto</li>
  </ol>
</nav>
<h1>Contactos</h1>

<div class="card">
  <ul class="list-group list-group-flush">
    <%= render @contacts %>
    <li class="list-group-item">
        <%= link_to 'AGREGAR CONTACTO', new_insured_contact_url%>
    </li>
  </ul>
</div>