<div class="main">
  <%= form_for(resource, as: resource_name, class: 'form', url: session_path(resource_name)) do |f| %>
  <p class="sign" align="center">Sign in</p>
  <div class="form-group">
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control auth", placeholder: "correo electrónico"%>
    </div>

    <div class="form-group">
      <%= f.password_field :password, autocomplete: "current-password", class: "form-control auth", placeholder: "contraseña" %>
    </div>

    <div>
      <%= f.submit "Acceder", class: "btn submit", align: "center" %>
    </div>

  <% end %>
</div>
