<%= form_for @doctor, builder: CustomFormBuilder do |f| %>
    <%= f.form_error %>
    <div class="row">
        <div class="col-sm">
            <div class="card">
                <div class="card-header">
                    Datos del doctor
                </div>
                <div class="card-body">
                    <div class="form-group">
                        <%= f.label :name, class: 'bmd-label-static' %>
                        <%= f.text_field :name, class: "form-control" %>
                        <%= f.field_error :name %>
                    </div>
                    <div class="form-group">
                        <%= f.label :last_name, class: 'bmd-label-static' %>
                        <%= f.text_field :last_name, class: "form-control" %>
                        <%= f.field_error :last_name %>
                    </div>
                    <div class="form-group">
                        <%= f.label :mother_last_name, class: 'bmd-label-static' %>
                        <%= f.text_field :mother_last_name, class: "form-control" %>
                        <%= f.field_error :mother_last_name %>
                    </div>
                    <div class="form-group">
                        <%= f.label :mobile, class: 'bmd-label-static' %>
                        <%= f.text_field :mobile, class: "form-control" %>
                        <%= f.field_error :mobile %>
                    </div>
                    <div class="form-group">
                        <%= f.label :mail, class: 'bmd-label-static' %>
                        <%= f.text_field :mail, class: "form-control" %>
                        <%= f.field_error :mail %>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <br>
    

    <br>
    <%= f.submit 'Guardar', :class => 'btn btn-raised btn-primary float-right' %>
<% end %>