<%= link_to t('.link_to'), new_doctor_path, class: "btn btn-primary float-right" %>

 <table class="table">
      <thead>
        <tr>
            <th>Nombre</th>
            <th>Apellido Paterno</th>
            <th>Apellido Materno</th>
            <th>Mobil</th>
            <th>Mail</th>
        </tr>
      </thead>
      <tbody>
        <%= render @doctors %>
      </tbody>
  </table>