<%= form_for [@insured, @address], url: insured_addresses_url, method: :post, builder: CustomFormBuilder do |f| %>
    <%= f.form_error %>
    <div class="form-group">
        <%= f.label :street %>
        <%= f.text_field :street, class: "form-control" %>
        <%= f.field_error :street %>
    </div>
    <div class="form-group">
        <%= f.label :interior_number %>
        <%= f.text_field :interior_number, class: "form-control" %>
        <%= f.field_error :interior_number %>
    </div>
    <div class="form-group">
        <%= f.label :outdoor_number %>
        <%= f.text_field :outdoor_number, class: "form-control" %>
        <%= f.field_error :outdoor_number %>
    </div>
    <div class="form-group">
        <%= f.label :postal_code %>
        <%= f.text_field :postal_code, class: "form-control" %>
        <%= f.field_error :postal_code %>
    </div>
    <div class="form-group">
        <%= f.label :suburb %>
        <%= f.text_field :suburb, class: "form-control" %>
        <%= f.field_error :suburb %>
    </div>
    <div class="form-group">
        <%= f.label :reference %>
        <%= f.text_field :reference, class: "form-control" %>
        <%= f.field_error :reference %>
    </div>

    <%= f.text_field :insured_id, value: @insured, type: 'hidden' %>
    
    <%= f.submit 'Guardar', :class => 'btn btn-raised btn-primary float-right' %>
<% end %>