<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <%= link_to 'Asegurado', "/insureds/#{request.params[:insured_id]}" %>
    </li>
    <li class="breadcrumb-item active" aria-current="page">Direcciones</li>
  </ol>
</nav>
<h1>DIRECCIONES</h1>
<div class="card">
  <ul class="list-group list-group-flush">
    <%= render @addresses %>
    <li class="list-group-item">
        <%= link_to 'AGREGAR DOMICILIO', new_insured_address_url %>
    </li>
  </ul>
</div>
