<h1>PRE-DICTAMEN</h1>


<table class="table table-bordered">
  <thead>
    <tr>
      <th scope="col">Ticket</th>
      <th scope="col">A. PATERNO</th>
      <th scope="col">A. MATERNO</th>
      <th scope="col">NOMBRE</th>
      <th scope="col">FECHA SOLICITUD</th>
      <th scope="col">USUARIO</th>
      <th scope="col">MODULO</th>
      <th scope="col">TIPO DE SERVICIO</th>
      <th scope="col">ACCIONES</th>
    </tr>
  </thead>
  <tbody>
    <%= render @orders %>
   </tbody>
</table>